@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

*,::after,::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
--Strong-cyan: hsl(172, 67%, 45%);
--Very-dark-cyan: hsl(183, 100%, 15%);
--Dark-grayish-cyan: hsl(186, 14%, 43%);
--Grayish-cyan: hsl(184, 14%, 56%);
--Light-grayish-cyan: hsl(185, 41%, 84%);
--Very-light-grayish-cyan: hsl(189, 41%, 97%);
--White: hsl(0, 0%, 100%)
}

html{
  max-width: 100vw;
  height: 100vh;
  font-size: 62.5%;
}

body{
  max-width: 100%;
  height: 100%;
  font-family: 'Space Mono', monospace;
  background: var(--Light-grayish-cyan);
  display: grid;
  justify-content: center;
  color: var(--Dark-grayish-cyan);
  /* align-items: center; */
}


